.unit-row > * {
    padding: 0.7rem;
}

.unit-row > *:not(:last-child) {
    border-right: 1px solid #dee2e6;
}

.unit-basic {
    width: 9rem;
    overflow: hidden;
}

.gear-icon {
    padding: 5px;
}

.ability-icon {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.compat-icon {
    width: 32px;
    height: 32px;
    padding: 1px;
}