mixin map_renderer(mapNumber)
  #map-renderer-modal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h1= "Map Renderer"
          button.close(data-dismiss="modal")
            span!= "&times;"
        .modal-body
          p
            | LMB+Drag to rotate. RMB+Drag to pan. Scroll Wheel to scroll.<br/>
            | Not every map is perfect. Most textures are not perfect.<br/>
            | This is an experimental feature.
          div#map-renderer-target(data-map-number=mapNumber)= ""
          p
            | Please leave a comment #[a(href="https://github.com/SirBraneDamuj/mustadio/issues/12")= "here"] if you see an ugly map.<br/>
            | If you don't see #[i= "any map"], then your browser might not be able to handle this. Sorry.