.team {
    margin-right: 10px;
}

.unit-row {
    height: auto;
}

.unit-row > td {
    height: 100%;
}

.gear-icon {
    padding: 5px;
}

.ability-icon {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.beastmaster-note {
    font-style: italic;
    position: relative;
    bottom: 0;
}
