# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mustadio?schema=public"

# FFTBG Data Source
FFTBG_BASE_URL="https://fftbg.com"
FFTBG_DATA_STRATEGY="real"  # "real" or "fake"

# Server
PORT=3000
NODE_ENV="development"
